<div class="page">
    <div class="section">
        <div>FormGroup Constructor vs FormBuilder</div>
        <form [formGroup]="form" #formRef>
            <input formControlName="name" placeholder="name" />
            <input type="number" formControlName="favoriteAngularVersion" placeholder="Favorite Angular Version" />
            <button type="submit">Submit</button>
        </form>

        <form [formGroup]="form2" #formRef2>
            <input formControlName="name" placeholder="name" />
            <input type="number" formControlName="favoriteAngularVersion" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="section">
        <div>Form value using FormGroup constructor:</div>
        <div class="json">
            {{ form.value | json }}
        </div>

        <div>Form value using FormBuilder:</div>
        <div class="json">
            {{ form2.value | json }}
        </div>
    </div>
</div>
