<form [formGroup]="form" #formRef>
    <input formControlName="name" />
    <input type="number" formControlName="favoriteAngularVersion" />
    <input type="radio" id="html" name="fav_language" value="HTML" />

    <label for="eslint">Favorite linter</label>

    <ng-container *ngFor="let linter of [Linter.ESLINT, Linter.TSLINT, Linter.OTHER]">
        <input type="radio" [id]="linter" name="favoriteLinter" [value]="linter" formControlName="favoriteLinter" />
        <label [for]="linter">{{ linter }}</label>
    </ng-container>

    <button type="submit">Submit</button>
</form>

<button (click)="reset()">Reset</button>
<button (click)="resetWithValues()">Reset with values</button>

Form values
<div>
    {{ form.value | json }}
</div>

Submit values
<div *ngIf="submitValue$ | async as submitValue">
    {{ submitValue | json }}
</div>
