<div class="page">
    <div class="section">
        <div>Reseting Forms</div>
        <form [formGroup]="form" #formRef>
            <input formControlName="name" placeholder="name" />
            <input type="number" formControlName="favoriteAngularVersion" placeholder="Favorite Angular Version" />

            <div>Favorite linter</div>
            <div class="flex-row" *ngFor="let linter of [Linter.ESLINT, Linter.TSLINT, Linter.OTHER]">
                <input type="radio" [id]="linter" name="favoriteLinter" [value]="linter" formControlName="favoriteLinter" />
                <label [for]="linter">{{ linter }}</label>
            </div>

            <button type="submit">Submit</button>
        </form>

        <div class="flex-row">
            <button (click)="reset()">Reset</button>
            <button (click)="resetWithValues()">Reset with values</button>
        </div>
    </div>
    <div class="section">
        <div>Form value:</div>
        <div class="json">
            {{ form.value | json }}
        </div>

        <div>Submit value:</div>
        <div class="json" *ngLet="submitValue$ | async as submitValue">
            {{ submitValue | json }}
        </div>
    </div>
</div>
