<div class="page">
    <div class="section">
        <div>Basic</div>
        <form [formGroup]="form" #formRef>
            <input formControlName="name" placeholder="name" />
            <input type="number" formControlName="favoriteAngularVersion" placeholder="Favorite Angular Version" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="section">
        <div>Form value:</div>
        <div class="json">
            {{ form.value | json }}
        </div>

        <div>Submit value:</div>
        <div class="json" *ngLet="submitValue$ | async as submitValue">
            {{ submitValue | json }}
        </div>
    </div>
</div>
