<div class="page">
    <div class="section">
        <div>Disabled Forms</div>
        <form [formGroup]="form" #formRef>
            <input formControlName="name" placeholder="name" />
            <input type="number" formControlName="favoriteAngularVersion" placeholder="Favorite Angular Version" />

            <div class="flex-row">
                <input type="checkbox" id="hateReact" formControlName="hateReact" />
                <label for="hateReact">Hate React {{ form.controls['hateReact'].value ? '(Wow rude...)' : '' }}</label>
            </div>

            <button type="submit">Submit</button>
        </form>

        <button (click)="toggleDisabledState()">Toggle disable state</button>
    </div>
    <div class="section">
        <div>Form value:</div>
        <div class="json">
            {{ form.value | json }}
        </div>

        <div>Submit value:</div>
        <div class="json" *ngLet="submitValue$ | async as submitValue">
            {{ submitValue | json }}
        </div>

        <div>Submit raw value:</div>
        <div class="json" *ngLet="submitRawValue$ | async as submitRawValue">
            {{ submitRawValue | json }}
        </div>
    </div>
</div>
