<form [formGroup]="form" #formRef>
    <input formControlName="name" />
    <input type="number" formControlName="favoriteAngularVersionMajor" />
    <input type="number" formControlName="favoriteAngularVersionMinor" />
    <input type="number" formControlName="favoriteAngularVersionPatch" />
    <div></div>
    <label for="hateReact">Hate React</label>
    <input type="checkbox" id="hateReact" formControlName="hateReact" />

    <label for="eslint">HTML</label><br />
    <input type="radio" id="eslint" name="favoriteLinter" value="eslint" formControlName="favoriteLinter" />
    <label for="css">eslint</label><br />
    <input type="radio" id="tslint" name="favoriteLinter" value="tslint" formControlName="favoriteLinter" />
    <label for="tslint">tslint</label>
    <input type="radio" id="other" name="favoriteLinter" value="other" formControlName="favoriteLinter" />
    <label for="other">other</label>

    <label for="powerLevel">Power level:</label>
    <input type="range" name="powerLevel" id="powerLevel" min="0" max="9100" step="100" formControlName="powerLevel" />

    <input custom-date type="datetime-local" name="datetime" id="datetime" formControlName="date" />

    <input type="color" name="color" id="color" formControlName="color" />

    <button type="submit">Submit</button>
</form>

<button (click)="toggleDisabledState()">Toggle disable state</button>

<button (click)="reset()">Reset</button>
<button (click)="resetWithValues()">Reset with values</button>

<div>Form values</div>
<div>
    {{ form.value | json }}
</div>

<div>Submit values</div>
<div *ngIf="submitValue$ | async as submitValue">
    {{ submitValue | json }}
</div>

<div>Submit raw values</div>
<div *ngIf="submitRawValue$ | async as submitRawValue">
    {{ submitRawValue | json }}
</div>
